// @font-face {
// 	font-family: 'Billiondreams_Personal';
// 	src: local('Billiondreams_Personal'),
// 		url('../fonts/BILLIONDREAMS_PERSONAL.TTF');
// 	font-weight: normal;
// }

// // Fonts
// // $logo-font: 'BILLIONDREAMS_PERSONAL', sans-serif;

// Background Animation
$background-animation-time: 50s;
$background-image: './images/stars.png';
$background-twinkle: './images/twinkling.png';
