@font-face {
	font-family: 'Billion-Dreams';
	src: local('Billion-Dreams'),
		url('./fonts/Billion-Dreams.TTF') format('truetype');
	font-weight: normal;
}

// Fonts
$logo-font: 'Billion-Dreams', sans-serif;

// Background Animation
$background-animation-time: 50s;
$background-image: './images/stars.png';
$background-twinkle: './images/twinkling.png';

// Colors
$logo-color: #f72700;
