// sass --watch src/scss/styles.scss:src/styles.css

@import 'normalize';
@import 'variables';

@import 'twinkling';

.like-photo-btn {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.ui {
	&.text {
		&.container {
			color: white;
		}
	}

	&.container {
		footer {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-top: 50px;
			color: white;

			.photo-copyright {
				display: flex;
				justify-content: space-evenly;
			}

			.footer-bottom {
				display: flex;
				justify-content: center;
				text-align: center;
				align-items: center;
				margin-bottom: 10px;

				h2 {
					font-size: 1rem;
				}
			}
		}
	}
}
