// sass --watch src/scss/styles.scss:src/styles.css

@import 'normalize';
@import 'variables';

@import 'twinkling';

.like-photo-btn {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.ui {
	&.text {
		&.container {
			color: white;
		}
	}

	&.container {
		footer {
			display: flex;
			justify-content: space-evenly;
			margin-top: 50px;
			color: white;
		}
	}
}
