// sass --watch src/scss/styles.scss:src/styles.css

@import 'normalize';
@import 'variables';

@import 'twinkling';
@import 'glowOnHover';

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}

.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	margin-top: 20px;
	margin-bottom: 50px;

	.header-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		.spacetagram {
			justify-content: center;

			h2 {
				font-family: $logo-font;
				font-size: 3.3rem;
				font-weight: 100;
				margin-left: 20px;
				justify-content: center;
				align-items: center;
				text-align: center;
				color: $logo-color;
			}
		}
	}
}

.search-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.high-def {
	form {
		.field {
			padding: 5px;
		}
	}
}

.ui {
	&.text {
		&.container {
			color: white;
		}
	}

	&.container {
		//

		.like-photo-btn {
			display: flex;
			justify-content: center;
			margin: 20px auto;

			#like-btn {
				margin: 0 5px;
			}

			#share-btn {
				margin: 0 5px;
			}
		}

		footer {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-top: 50px;
			color: $logo-color;

			.photo-copyright {
				display: flex;
				justify-content: space-evenly;
			}

			.footer-bottom {
				display: flex;
				justify-content: center;
				text-align: center;
				align-items: center;
				margin-bottom: 10px;

				flex-shrink: 0;

				h2 {
					font-size: 1rem;
				}
			}
		}
	}
}

#show-liked-pics {
	margin: 0 5px;
}

#liked-pics {
	h1 {
		color: $logo-color;
		font-family: $logo-font;
		font-weight: 100;
		font-size: 3.5rem;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding: 0 10px;
	}
}

// Date Picker
#root
	> div
	> div.App
	> header
	> div
	> div.search-field
	> div
	> form
	> div
	> label {
	font-size: 1.1rem;
}

#root
	> div
	> div.App
	> header
	> div
	> div.search-field
	> div
	> form
	> div
	> div
	> div
	> div
	> input {
	cursor: pointer;
	width: 100px;
	text-align: center;
}

#modal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;

	.content {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;

		.description {
			max-width: 100%;
			.social-shares-modal {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				flex-wrap: wrap;
				max-width: 100%;

				.m5 {
					margin: 0 5px;
				}
			}
		}
	}
}

.m5 {
	margin: 0 5px;
}

body
	> div.ui.page.modals.dimmer.transition.visible.active
	> div
	> div.content
	> div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

body > div.ui.page.modals.dimmer.transition.visible.active > div > div.content {
	display: flex;
}

#root > div > div.App > section > div > div.ui.container.picture-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cards-main-container {
	.saved-cards-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		height: 100%;

		.ui.header {
			font-size: 3rem;
			color: $logo-color;
			font-family: $logo-font;
			margin-bottom: 50px;
		}

		.cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			.ui.card {
				margin: 20px;
			}
		}
	}
}

@media (max-width: 750px) {
	.header-content {
		flex-direction: column;

		.header-logo {
			flex-direction: column;

			.spacetagram {
				.home-link {
					font-size: 3.8rem;
					margin-bottom: 30px;
					margin-left: 0;
				}
			}
		}

		.search-field {
			margin-bottom: 20px;
		}
	}

	.picture-otd {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.footer-top {
		.photo-copyright {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	#modal {
		width: 200px;
	}

	body > div.ui.page.modals.dimmer.transition.visible.active {
		width: 100vw;
		height: 100vh;
	}
}
